.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.card-3d {
  transform-style: preserve-3d;
  transition: transform 0.7s;
}
.card-3d .card-face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-3d .card-back {
  transform: rotateY(180deg);
}
.group:hover .card-3d {
  transform: rotateY(180deg);
}
